.wd-modules,
.wd-modules * {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 0px;
}

.wd-modules {
  margin: 5px;
}

.wd-modules > li {
  background-color: lightgray;
  border: 1px solid gray !important;
  border-left: none !important;
}

.wd-modules > li > div {
  padding: 6px;
  border-left: 1px solid gray !important;
}

.wd-modules > li > ul > li {
  padding: 5px;
  border-top: 1px solid gray !important;
  border-left: 2px solid green;
}

.wd-modules > li {
  margin-bottom: 20px;
}

.wd-modules,
.wd-modules * {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 0px;
}

.wd-modules {
  margin: 5px;
}

.wd-modules > li {
  background-color: lightgray;
  border: 1px solid gray !important;
  border-left: none !important;
}

.wd-modules > li > div {
  padding: 6px;
  border-left: 1px solid gray !important;
}

.wd-modules > li > ul > li {
  padding: 5px;
  border-top: 1px solid gray !important;
  border-left: 2px solid green;
}

.wd-modules > li {
  margin-bottom: 20px;
}

.wd-collapsed-nav{
  margin-top: 10px;
}
.wd-collapsed-nav li {
  list-style-type:none;
  padding: 2px;    margin-top: 5px; margin-bottom: 15px;
  font-size: 0.8em;  text-align: left;
}

.wd-collapsed-nav li.wd-active a {
  list-style-type:none;
  color: darkred;
}
.wd-collapsed-nav a {
  margin-bottom: 15px;
  font-size: 1.2em;
  color: red;
  text-decoration: none;
}
.wd-collapsed-nav a i {
  color: red;
  font-size: 1.2em;
  margin-bottom: 5px;
}
.wd-collapsed-nav li.wd-active a i {
  color: darkred;
  font-size: 1.2em;
  margin-bottom: 5px;
}

.wd-collapsed-nav a i.wd-hidden{
  float: inherit;
  font-size: 1.1em;
  color: grey;
  margin-bottom: 5px;
}